@{
    ViewBag.Title = "Order completed";
}

<h1>Order Completed</h1>
<h3>Thank you for your reservation of:</h3>
<table id="TableComplete">
    <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Activity</td>
            <td>Date/Time</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Price Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="~/Content/images/Films/1007.png" alt="Film Poster" width="60" height="90" /></td>
            <td>2001: A Space Odyssey</td>
            <td>Film</td>
            <td>Wedsnesday 19:00 - 22:30</td>
            <td>2x</td>
            <td>€ 7,50</td>
            <td>€ 15,00</td>
        </tr>
    </tbody>
</table>

<div class="clearfix"></div>

