@{
    ViewBag.Title = "Special locations";
}

        </main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
</div>
<main>

    <a href="http://patronaat.nl/" target="_blank">
        <div class="FilmDay" style="margin-top: 20px">
            <img src="~/Content/images/Locations/Patronaat.png" height="130" width="90" />
            <h4>Patronaat</h4>
            <p>
                The Patronaat is one of the ten major music venues of the clubs of the Netherlands. It is located on the Zijlsingel,
                near the Grote Markt in Haarlem.
                The venue has a large hall for about 950 visitors, a small room for approximately 300 guests and a music bar.
            </p>
        </div>
    </a>

    <a href="https://www.theater-haarlem.nl/" target="_blank">
        <div class="FilmDay">
            <img src="~/Content/images/Locations/Philharrmonie.png" height="130" width="90" />
            <h4>Philharmonie</h4>
            <p>
                The Philharmonie, until 2001 known as the Concertgebouw, the concert hall of Haarlem.
                The Philharmonie is on the corner of the Klokhuisplein and Lange Begijnestraat in the center of Haarlem.
            </p>
        </div>
    </a>

    <div class="clearfix"></div>

