@{
    ViewBag.Title = "The city of Haarlem";
}

</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
</div>
<main>

    <div id="City">
        <div id="CityShield">
            <img src="~/Content/images/City/Haarlem.png" width="217" height="144" />
        </div>
        <div id="CityInfo">
            <h4>Haarlem</h4>
            <p>
                Haarlem is a city and municipality in the Netherlands. It is the capital of the province of North Holland and is situated at the
                northern edge of the Randstad, one of the most populated metropolitan areas in Europe. Haarlem had a population of 155,758 in 2014,
                is a 15-minute train ride from Amsterdam, and many residents commute to the country's capital for work.
            </p>
            <br />
            <p>
                There are lots of events happening in Haarlem, all year round. Discover the city known for its high-quality cultural offering,
                wide range of shops, cosy restaurants and cafés and excellent location near Amsterdam, beach and sea. A city with a rich history,
                stunning monuments and bon-vivant atmosphere. The ideal destination for a day out or a weekend away. Great for kids too.
            </p>
            <br />
            <p>
                The International Haarlem Film Festival is a yearly event that lifts the spirit of Haarlem. So if you want to have a great time and
                want to discover this event and ofcourse this great city.Come to the International Haarlem Film Festival and experience one of the best
                times in your life.
            </p>
            <br />
            <p>For more information about Haarlem: <a href="http://www.haarlemmarketing.co.uk" target="_blank">Click Here</a></p>
        </div>
    </div>
    <div id="Skyline"><img src="~/Content/images/City/haarlem-skyline.png" height="240" width="950"></div>
    <div class="clearfix"></div>


