@{
    ViewBag.Title = "Film locations";
}

        </main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
</div>
<main>

    <a href="https://en.pathe.nl/bioscoopagenda/haarlem" target="_blank">
        <div class="FilmDay" style="margin-top: 20px">
            <img src="~/Content/images/Locations/Pathe.png" height="130" width="90" />
            <h4>Pathe Haarlem</h4>
            <p>
                The Pathé Haarlem is a cinema in Haarlem, located in the nieuwe Raakskwartier.
                The Pathé Haarlem accommodates 1277 people and has eight screens. All rooms are below ground. The main hall has 380 seats, the smallest room has 85.
                The Pathé Haarlem exhibits both in the afternoon as daily evening movies. they are running about 35 performances per day.
            </p>
        </div>
    </a>

    <a href="http://www.toneelschuur.nl/" target="_blank">
        <div class="FilmDay">
            <img src="~/Content/images/Locations/toneelschuur.png" height="130" width="90" />
            <h4>Toneelschuur</h4>
            <p>
                The Toneelschuur is a service-oriented theater, film and production company in the heart of Haarlem.
                The performances and films are inspiring, innovative, open and talked about and shown to a diverse audience appropriate to
                the particular movie or show.
            </p>
        </div>
    </a>

    <a href="https://www.theater-haarlem.nl/" target="_blank">
        <div class="FilmDay">
            <img src="~/Content/images/Locations/Philharrmonie.png" height="130" width="90" />
            <h4>Philharmonie</h4>
            <p>
                The Philharmonie, until 2001 known as the Concertgebouw, the concert hall of Haarlem.
                The Philharmonie is on the corner of the Klokhuisplein and Lange Begijnestraat in the center of Haarlem.
            </p>
        </div>
    </a>

    <div class="clearfix"></div>

