@using ihff.Models
@model IEnumerable<Sight>

@{
    ViewBag.Title = "Sights of Haarlem";
}

</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
</div>
<main>

    <h2>Sights of Haarlem</h2>

    @foreach (Sight sight in Model)
    {
        <a href=@sight.Hyperlink target="_blank" id="SightLink">
            <div class="Sight">
                <img src="@Url.Content(string.Format("~/Content/images/Sights/{0}.png", sight.Sight_Id))" width="117" height="168" />

                <h5>@sight.Name</h5>
                <p>@sight.ShortDescription</p>
            </div>
        </a>
    }
    <div class="clearfix"></div>
