@{
    ViewBag.Title = "Films";
}

</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage" />
</div>
<main>

    <div class="FilmFilter" align="center">
        <ul>
            <li>Film offer</li>
            <li>Top 10</li>
        </ul>
    </div>
    <br />
    <div class="FilmFilter" align="center">
        <ul>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Friday</li>
        </ul>
    </div>