@{
    ViewBag.Title = "Disclaimer";
}

<h2>Disclaimer</h2>

<ul>
    <li class="DiscNum">In this disclaimer the following is understood:</li>
    <li class="NoBullet">
        <ul>
            <li class="DiscRound">The web page: every web page in which the editor places a hyperlink referring to this disclaimer with the intention to make it applicable to that specific web page;</li>
            <li class="DiscRound">The editor: the authorized editor of the web page;</li>
            <li class="DiscRound">To use: amongst others to load, to log on, to inquire, to consult, to read, to examine, to listen, to edit, to fill in, to send, to copy, to store, to forward, to spread, to use offered services, to commit acts of law (i.e. to buy, rent);</li>
            <li class="DiscRound">You: the (represented) private person or legal entity that uses the web page;</li>
            <li class="DiscRound">The content: among others texts, static or dynamic images, hyperlinks, sound- and/or video clips or fragments and/or other objects;</li>
            <li class="DiscRound">Damage: direct or indirect damage of any nature, i.e. loss of data, business, acquired income, profit or any other economical disadvantage.</li>
        </ul>
    </li>
    <li class="DiscNum">All articles of this Disclaimer apply to the web page. By using the web page you agree unconditionally with this disclaimer.</li>
    <li class="DiscNum">The editor endeavours to actualise and/or to add information to the web page regularly. In spite of this care and attention it is possible that the content is incomplete and/or incorrect.</li>
    <li class="DiscNum">The editor provides the contents of the web page AS IS, without any guarantee concerning it's soundness, aptitude for a certain purpose or otherwise. The content is experimental and intended for private use only.</li>
    <li class="DiscNum">The editor is not liable for any damage which has occured or may occur in connection with and/or results from the use of the web page or to the impossibility to use the web page.</li>
    <li class="DiscNum">The editor may alter or remove the web page from the internet at all times and without a prior notice. The editor is not liable for any consequence(s) due to the alteration or removal of the web page.</li>
    <li class="DiscNum">Content provided by a third party has not been independently reviewed, tested, certified, or authenticated in whole or in part by the editor and as such the editor makes no warranty with respect to its contents.</li>
    <li class="DiscNum">Unauthorized or improper use of the web page or its content can result in an infringement of intellectual (property) rights or an unlawful act related to privacy, publication, communication and other matters. You are responsible for all data and requests which you send from the web page. </li>
    <li class="DiscNum">The editor reserves the right to deny your access to the web page or certain services available on the web page. As a consequence the editor may monitor your access to the web page.</li>
    <li class="DiscNum">You will protect the editor, its employees, representatives, license holders, trade partners and the author of this disclaimer against any judicial and non-judicial measures, condemnations, etc, including the costs for legal assistance, accountants etc. which are a direct or indirect consequence of your use of the web page and/or your violation of any law, regulation or rights of third parties.</li>
</ul>