@using ihff.Models;
@{
    ViewBag.Title = "International Haarlem Film Festival";
}
</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage"/>
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage"/>
</div>
<main><p>Shit werkt zo te zien</p>