@using ihff.Models;
@{
    ViewBag.Title = "International Haarlem Film Festival";
}
</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage"/>
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage"/>
</div>
<main>
<h2 id="Welcome">Welcome to the website of the International Haarlem Film Festival</h2>
<p id="WelcomeText">IHFF is a film festival, celebrated in Haarlem, that has been putting the culture and the flavour of this city on the map for decades. 
    Offering over 20 films, the best restaurants in and around Haarlem, special lectures and discussion forums led by esteemed Dutch celebreties, 
    Haarlem will be put in the spotlights. <br /><br />The International Haarlem Film Festival is the best way to discover the beauty of Haarlem.</p>
<div id="WelcomeImg"></div>
<p id="Suggested">Suggested:</p>
<div class="Suggested">
    <div></div>
    <h1>Soort</h1>
    <h2>titel</h2>
    <p>Allemaal meuk over wat er allemaal staat enzo</p>
</div>
    