@using ihff.Models;
@{
    ViewBag.Title = "International Haarlem Film Festival";
}
</main>
<div class="slider" align="center">
    <img src="~/Content/images/slider/en_Header_Restaurant.jpg" class="sliderimage"/>
    <img src="~/Content/images/slider/en_Header_Films.jpg" class="sliderimage" />
    <img src="~/Content/images/slider/Header_Bezienswaardigheid.jpg" class="sliderimage"/>
</div>
<main>
<h2 id="Welcome">Welcome to the website of the International Haarlem Film Festival</h2>
<p id="WelcomeText">IHFF is a film festival, celebrated in Haarlem, that has been putting the culture and the flavour of this city on the map for decades. 
    Offering over 20 films, the best restaurants in and around Haarlem, special lectures and discussion forums led by esteemed Dutch celebreties, 
    Haarlem will be put in the spotlights. <br /><br />The International Haarlem Film Festival is the best way to discover the beauty of Haarlem.</p>
<div id="WelcomeImg"></div>
<p id="Suggested">Suggested:</p>
<div class="Suggested">
    <div></div>
    <h4>Film</h4>
    <h5>The
Triumph of
the Nerds:
The Rise of
Accidental
Empires</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
</div>
    <div class="Suggested">
        <div></div>
        <h4>Soort</h4>
        <h5>titel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
    </div>
    <div class="Suggested third">
        <div></div>
        <h4>Soort</h4>
        <h5>titel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
    </div>
    <div class="Suggested">
        <div></div>
        <h4>Soort</h4>
        <h5>titel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
    </div>
    <div class="Suggested">
        <div></div>
        <h4>Soort</h4>
        <h5>titel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
    </div>
    <div class="Suggested third">
        <div></div>
        <h4>Soort</h4>
        <h5>titel</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero leo, finibus et nisi ut, tristique placerat nulla. Duis consequat molestie neque et mattis. Aenean tincidunt tempor mi, et dictum odio sodales at. Ut congue interdum erat, nec sagittis mi lobortis at. Suspendisse odio dui, sodales eget diam non, lobortis ultricies velit. Duis commodo lacus leo, a volutpat eros faucibus vel. Aenean iaculis felis ut bibendum commodo. Proin eu rutrum magna. Vivamus ac dignissim tellus, vitae dignissim neque. Donec varius eros sodales dui rutrum, eu tincidunt arcu iaculis. Fusce at eros urna. Duis feugiat, eros ultrices scelerisque condimentum, sapien purus lobortis lectus, non mollis velit arcu ut velit. Integer non nunc dapibus, vulputate risus in, tincidunt arcu. Etiam semper consequat ex, non venenatis felis molestie sed. Nullam lacinia leo in tortor laoreet, id dapibus elit pellentesque. Praesent at molestie purus.</p>
    </div>
<div class="clearfix"></div>