@using ihff.Models;
@{
    ViewBag.Title = "International Haarlem Film Festival";
}

<h2>Internationaal Haarlem Film Festival</h2>

@Html.ActionLink("Bekijk alle evenementen", "ShowAllEvents", "Event")