@{
    ViewBag.Title = "PrivacyPolicy";
}


<h2>Privacy Policy International Haarlem Film Festival(IHFF)</h2>

<p>version 0.1</p>
<p>This page was last modified on 19-04-2016.</p>

<p>We are aware that you have confidence in us. We see it as our responsibility to protect your privacy. Here we let you know what information we collect when you use our website, why we collect it and how we help improve your user experience. So you understand exactly how we work.</p>

<p>This Privacy Policy applies to the services of IHFF. You should be aware that IHFF is not responsible for the privacy practices of other sites and resources. By using this website you accept the privacy policy.</p>

<p>IHFF respects the privacy of all users of its site and ensures that the personal information you give us will be treated confidentially.</p>

<h3>Our use of information gathered</h3>
<h4>Use of our services</h4>
<p>When you sign up for any of our services, we ask you to provide personal information. These data are used to be able to carry out the service. The data is stored on secure servers of IHFF or those of a third party. We will not combine this data with other personal data we have.</p>

<h4>communications</h4>

<p>When sending to our e-mail or other messages, we may retain those communications. Sometimes we ask for your personal information relevant to the particular situation. This makes it possible to process your inquiries and respond to your requests. The data is stored on secure servers of IHFF or those of a third party. We will not combine this data with other personal data we have.</p>

<h3>Purposes</h3>

<p>We collect or use information for purposes other than the purposes described in this Privacy Policy unless we advance your approval have been obtained.</p>

<h3>Third parties</h3>

<p>The information is not shared with third parties. In some cases, the information can be shared internally. Our employees are required to respect the confidentiality of your information.</p>

<h3>changes</h3>

<p>This privacy statement is tailored to the use and capabilities of this site. Any adjustments and / or changes to this site may lead to changes in this privacy statement. It is therefore advisable to regularly check this privacy statement.</p>

<h3>Choices for personal information</h3>

<p>We offer all visitors the opportunity to view, change, or delete all personal information provided to us at the moment.</p>

